<?xml version="1.0"?>
<config>
    <modules>
        <SP_Contacts>
            <version>0.1.0</version>
        </SP_Contacts>
    </modules>
    <global>
        <helpers>
            <sp_contacts>
                <class>SP_Contacts_Helper</class>
            </sp_contacts>
        </helpers>
        <models>
            <sp_contacts>
                <class>SP_Contacts_Model</class>
                <resourceModel>contacts_resource</resourceModel>
            </sp_contacts>
            <contacts_resource>
                <class>SP_Contacts_Model_Resource</class>
                <entities>
                    <contacts>
                        <table>sp_contacts</table>
                    </contacts>
                </entities>
            </contacts_resource>
        </models>
        <resources>
            <sp_contacts_setup>
                <setup>
                    <module>SP_Contacts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp_contacts_setup>
            <sp_contacts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sp_contacts_write>
            <sp_contacts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sp_contacts_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sp_contacts before="Mage_Adminhtml">SP_Contacts_Adminhtml</sp_contacts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sp_contacts>l
                    <file>sp/contacts/layout.xml</file>
                </sp_contacts>
            </updates>
        </layout>
    </adminhtml>
</config> 