<?xml version="1.0"?>
<!--
/**
 * @author Pavel Usachev <webcodekeeper@hotmail.com>
 * @copyright Copyright (c) 2016, Pavel Usachev
 */
-->
<config>
    <modules>
        <SP_Events>
            <version>0.1.0</version>
        </SP_Events>
    </modules>
    <global>
        <blocks>
            <sp_events>
                <class>SP_Events_Block</class>
            </sp_events>
        </blocks>
        <helpers>
            <sp_events>
                <class>SP_Events_Helper</class>
            </sp_events>
        </helpers>
        <models>
            <sp_events>
                <class>SP_Events_Model</class>
                <resourceModel>sp_events_resource</resourceModel>
            </sp_events>
            <sp_events_resource>
                <class>SP_Events_Model_Resource</class>
                <entities>
                    <events>
                        <table>sp_events</table>
                    </events>
                </entities>
            </sp_events_resource>
        </models>
        <resources>
            <sp_events_setup>
                <setup>
                    <module>SP_Events</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp_events_setup>
            <sp_events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sp_events_write>
            <sp_events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sp_events_read>
        </resources>
        <events>
            <sp_event_delete_item_before>
                <observers>
                    <delete_image_observer>
                        <type>singleton</type>
                        <class>sp_events/observer</class>
                        <method>removeImages</method>
                    </delete_image_observer>
                </observers>
            </sp_event_delete_item_before>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <sp_events>
                    <file>sp/events/events.xml</file>
                </sp_events>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sp_events before="Mage_Adminhtml">SP_Events_Adminhtml</sp_events>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sp_events>
                    <file>sp/events/events.xml</file>
                </sp_events>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <sp_events>
            <general>
                <enabled>1</enabled>
                <sender_name>Events notification</sender_name>
            </general>
            <extension>
                <image_allowed>
                    <jpg>1</jpg>
                    <jpeg>1</jpeg>
                    <png>1</png>
                    <gif>1</gif>
                </image_allowed>
            </extension>
        </sp_events>
    </default>
</config>