<?xml version="1.0"?>
<config>
    <modules>
        <SP_FeaturedLinks>
            <version>0.1.1</version>
        </SP_FeaturedLinks>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>SP_FeaturedLinks_Block_Product_View</product_view>
                </rewrite>
            </catalog>
            <sp_featuredlinks>
                <class>SP_FeaturedLinks_Block</class>
            </sp_featuredlinks>
        </blocks>
        <helpers>
            <sp_featuredlinks>
                <class>SP_FeaturedLinks_Helper</class>
            </sp_featuredlinks>
        </helpers>
        <models>
            <sp_featuredlinks>
                <class>SP_FeaturedLinks_Model</class>
                <resourceModel>sp_featuredlinks_resource</resourceModel>
            </sp_featuredlinks>
            <sp_featuredlinks_resource>
                <class>SP_FeaturedLinks_Model_Resource</class>
                <entities>
                    <featuredlinks>
                        <table>sp_featured_links</table>
                    </featuredlinks>
                </entities>
            </sp_featuredlinks_resource>
        </models>
        <resources>
            <featuredlinks_setup>
                <setup>
                    <module>SP_FeaturedLinks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredlinks_setup>
            <featuredlinks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredlinks_write>
            <featuredlinks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredlinks_read>
        </resources>
    </global>
    <!--<frontend>-->
        <!--<routers>-->
            <!--<contacts>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<sp_featuredlinks before="Mage_Contacts">SP_FeaturedLinks</sp_featuredlinks>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</contacts>-->
        <!--</routers>-->
    <!--</frontend>-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sp_featuredlinks before="Mage_Adminhtml">SP_FeaturedLinks_Adminhtml</sp_featuredlinks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sp_featuredlinks>
                    <file>sp/featuredlinks/layout.xml</file>
                </sp_featuredlinks>
            </updates>
        </layout>
    </adminhtml>
</config> 